body {
	font-family: 'Open Sans', sans-serif;

	h1, h2, h3, h4, h5 {
		color: $white;
	}

	strong {
		font-weight: 700;
	}

	span.blue-title {
		font-size: 18px;
		font-weight: 600;
		color: $lightBlue;
	}

	h2.yellow {
		color: $yellow;
	    font-size: 46px;
	    font-weight: 300;
	    margin-bottom: 20px;
	}

	h5.blue {
		color: $lightBlue;
		font-size: 16px;
		font-weight: 600;
	}

}

// Icons...

.cerrar-icon {
	background: url('../../img/cerrar-icon.svg') no-repeat scroll 0 0 transparent;
	width: 22px;
	height: 23px;
	display: block;			
}

.cerrar-icon:hover {
	opacity: 0.8;
}

span.ico-contact {
	background: url("../../img/icon-contacto.svg") no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 11px;
    margin-right: 10px;
    width: 15px;
}

.icon-tw, .icon-fb, .icon-email {
	display: inline-block;
    height: 30px;
    text-indent: -9999px;
    width: 30px;
    transition: all 0.5s ease;
}

.icon-tw:hover, .icon-fb:hover, .icon-email:hover {
	opacity: 0.7;
}

.icon-tw {
	background: url("../../img/icon-twitter.svg") no-repeat scroll 0 0 transparent;
}

.icon-fb {
	background: url("../../img/icon-facebook.svg") no-repeat scroll 0 0 transparent;
}

.icon-email {
	background: url("../../img/icon-email.svg") no-repeat scroll 0 0 transparent;
}

.icon-article, .icon-charlas, .icon-talleres, .icon-paneles, .icon-posters {
	display: inline-block;
    height: 107px;
    width: 107px;
}

.icon-article {
	background: url('../../img/icon-articulos.svg') no-repeat scroll center center transparent;
}

.icon-charlas {
	background: url('../../img/icon-charlas.svg') no-repeat scroll center center transparent;
}

.icon-talleres {
	background: url('../../img/icon-talleres.svg') no-repeat scroll center center transparent;
}

.icon-posters {
	background: url('../../img/icon-posters.svg') no-repeat scroll center center transparent;
}

.icon-paneles {
	background: url('../../img/icon-paneles.svg') no-repeat scroll center center transparent;
}

.ribbon {
	background: url("../../img/firulete.svg") no-repeat scroll 0 0 transparent;
	display: inline-block;
    height: 38px;
    width: 97px;
    margin: 40px 0;
}
.white-ribbon {
	background: url("../../img/filete-blanco.svg") no-repeat scroll 0 0 transparent;
	display: inline-block;
    height: 50px;
    width: 100px;
    margin: 40px 0 0;
}

.section {
	padding: 60px 0;
}

.section-more {
	padding-top: 60px;
}

.billboard {
	background: url("../../img/Background-collage.jpg") no-repeat scroll 0 0 $darkBlue;
	background-size: cover;

	h1 {
		font-size: 42px;
		text-transform: uppercase;
		font-weight: 100;
		line-height: 120%;
	}

	h4 {
		font-size: 24px;
		border-top: 1px solid $white;
		border-bottom: 1px solid $white;
		padding: 10px 0;
	}

	.call-to {
	    margin: 20px 0;
	}
}

.description {
	background: $lightBlue;
	color: $white;
	text-align: center;

	h3 {
		font-size: 26px;
		line-height: 24px;
		font-weight: 300;
		margin-bottom: 20px;
	}

	p {
		font-size: 15px;
		line-height: 24px;
	}

}

.open-call {
	background: url("../../img/Background-trama.jpg") no-repeat scroll center center $darkBlue;
	background-size: cover;
	text-align: center;

	.featured-blk {
		margin: 40px 0 20px;
	}

	h2 {
		color: $aquaBlue;
		font-size: 46px;
		font-weight: 300;
		margin-bottom: 20px;
	}

	h4 {
		color: $lightBlue;
		font-size: 20px;
		font-weight: 600;
		margin: 20px 0 10px;
	}

	p {
		color: $gray;
		line-height: 22px;
	}
}

// More info Section...
.pos-rel {
	position: relative;
}

.btn-hide {
	font-size: 16px;
    position: relative;
    top: 20px;
    z-index: 9999;
    display: block;
    opacity: 1;
    transition-delay:0.7s;
}

.tab-container.activo {
	.btn-hide {
		width: 0;
		top: 0;
		position: absolute;
		opacity: 0;
		transition-delay:0s;
	}

	.more-info-close {
		opacity: 1;
		transition: opacity 1.8s ease;
	}
}

.more-info-close {
	font-size: 16px;
    position: relative;
    opacity: 0;
    // transition-delay: 0.7s;
}

 span.arrow {
	background: url("../../img/flecha-boton.svg") no-repeat scroll center center transparent;
	display: inline-block;
    height: 15px;
    margin-left: 5px;
    vertical-align: middle;
    width: 21px;    
}

span.close-btn {
	background: url("../../img/cerrar-icon.svg") no-repeat scroll center center transparent;
	display: inline-block;
    height: 23px;
    margin-left: 5px;
    margin-bottom: 3px;
    vertical-align: middle;
    width: 22px;
}

.tab-top {
	border-bottom: 10px solid #FCAB0F;
	// Btn tab..
	.btn-tab {
	    background: url("../../img/btn-abierto-top.svg") no-repeat scroll center center rgba(0, 0, 0, 0);
	    color: #253544;
	    display: inline-block;
	    font-weight: 700;
	    height: 49px;
	    line-height: 49px;
	    position: absolute;
	    right: 25%;
	    text-transform: uppercase;
	    top: -35px;
	    width: 500px;
	}
}

.tab-bottom {
	border-bottom: 10px solid #FCAB0F;
	.btn-tab {
		background: url("../../img/btn-abierto-bottom.svg") no-repeat scroll center center rgba(0, 0, 0, 0);
	    color: #253544;
	    display: inline-block;
	    font-size: 18px;
	    font-weight: 700;
	    height: 49px;
	    line-height: 49px;
	    position: absolute;
	    right: 25%;
	    text-transform: uppercase;
	    top: -4px;
	    width: 500px;
	}
}

#more-info {
	display: none;

	.articles {
		h4 {
			span {
				display: block;
				margin-top: 5px;
				font-weight: 300;
			}
		}
	}

	.more-open-call {
		color: $gray;

		.div-line {
			border-bottom: 1px solid $lightGray;
		}

		ul {
			margin-left: 15px;
			padding-top: 15px;
			li {
				padding-bottom: 5px;
				line-height: normal;
				text-indent: -17px;
				font-weight: 300;
			}

			li:before {
			    color: $darkBlue;
			    content: "•";
			    font-weight: 700;
			    padding-right: 10px;
			}
		}

		.more-link, .more-link:visited {
			color: $lightBlue;
		    display: inline-block;
		    font-weight: 300;
		    padding: 10px 0;
		    text-decoration: underline;
		    opacity: 1;
		    transition: all 0.5s ease;
		}

		.more-link:hover {
			text-decoration: none;
		}

		.open-box {
			.more-link {
				opacity: 0;
				height: 0;
				padding: 0;
				cursor: default;
			}
		}

		.more-detail {
		    background: none repeat scroll 0 0 #F9F9F9;
		    margin-top: 20px;
		    padding: 30px 20px;
		    display: none;

		    span {
		    	color: $lightBlue;
		    	width: 75%;
		    	display: inline-block;
		    	padding-left: 14px;
		    	line-height: normal;
		    }

		    .cerrar-icon {
    			float: right !important;
    			width: 22px;
    			cursor: pointer;			
		    }
		}
	}
}

.buscamos-objetivos {
	background: url("../../img/Background-Buscamos.jpg") no-repeat scroll center center $white;
	background-size: cover;
	color: $gray;
	font-weight: 300;
	line-height: normal;
	h2 {
		color: $aquaBlue;
		font-size: 46px;
		font-weight: 300;
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 20px;
		color: $gray;
	}
}

.fechas {
	background: $lightBlue;
	color: $white;

	span.icon-fechaTop {
		background: url('../../img/fechas-importantes-icon.svg') no-repeat scroll center center transparent;
		display: inline-block;
	    height: 107px;
	    width: 107px;
	    vertical-align: middle;
	}

	br {
		display: none;
	}

	h2 {
		font-size: 46px;
		font-weight: 300;
		display: inline-block;
		vertical-align: middle;
	}

	.icon-fecha1, .icon-fecha2,.icon-fecha3,.icon-fecha4 {
		width: 50px;
		height: 50px;
		display: inline-block;
		margin-bottom: 10px;
	}

	.icon-fecha1 {
		background: url('../../img/fecha1.svg') no-repeat scroll center center transparent;
	}
	.icon-fecha2 {
		background: url('../../img/fecha2.svg') no-repeat scroll center center transparent;
	}
	.icon-fecha3 {
		background: url('../../img/fecha3.svg') no-repeat scroll center center transparent;
	}
	.icon-fecha4 {
		background: url('../../img/fecha4.svg') no-repeat scroll center center transparent;
	}

	span.date {
		font-size: 26px;
		font-weight: 400;
		display: block;
		margin-bottom: 15px;
	}

	p {
		font-weight: 300;
		line-height: normal;
	}

	// .line-r {
	// 	border: 1px solid $white;
	// }
}

.temas {
	background: url("../../img/Background-temas.jpg") no-repeat scroll center center $darkBlue;
	background-size: cover;
	color: $white;

	h2 {
		font-size: 46px;
		font-weight: 300;
	}

	ul {
		li {
			font-weight: 300;
			font-size: 16px;
			padding-bottom: 15px;
			line-height: normal;
			text-indent: -17px;
		}
		li:before {
		    color: $aquaBlue;
		    content: '•';
		    font-weight: 700;
		    padding-right: 10px;
		}
	}
}

.sede {
	background: url("../../img/Background-trama2.jpg") no-repeat scroll center center $darkBlue;
	// height: 787px;
	background-size: cover;

	.top-box {
	    background: none repeat scroll 0 0 #D6DADD;
	    padding: 40px 40px 0;
	    width: calc(100% - 100px);
	}

	.top-box:after {
		content: '';
	    position: absolute;
	    top: 0; 
	    right: 15px;
	    border-top: 100px solid transparent;
	    border-left: 100px solid #D6DADD;
	    width: 0;
	    padding-bottom: 10px;
	}

	.gray-box {
	    background: none repeat scroll 0 0 #D6DADD;
	    padding: 0 40px 40px;
	}

	h2 {
		color: $aquaBlue;
		font-size: 50px;
		font-weight: 300;
		padding-bottom: 20px;
	}

	p {
		line-height: 28px;
		color: $gray;
	}

	img {
		margin: 30px 0;
	}

	a, a:visited {
		color: $lightBlue;
		text-decoration: underline;
	}

	a:hover {
		color: $lightBlue;
		text-decoration: none;
	}
}

.sponsors {
	background: url("../../img/Background-adoquines.jpg") no-repeat scroll center center $darkBlue;
	background-size: cover;
	
	h5 {
		line-height: normal;
		margin-bottom: 10px;
	}

	img {
		margin: 10px;
	}
}

.faja {
	background: $darkBlue;
	padding:10px 0;
	text-align: center;
	color: $white;
	font-weight: 300;

	.senado {
		font-weight: 400;
	}
}

.icon-escudo {
	background: url('../../img/icon-escudo.svg') no-repeat scroll center center transparent;
	height: 66px;
	width: 60px;
	display: inline-block;
	vertical-align: middle;
}

// Comité Organizativo...
.comite {
	background: $darkBlue;
	text-align: center;

	h2 {
		color: $aquaBlue;
		font-size: 46px;
		font-weight: 300;
		margin-bottom: 20px;
	}

	h3 {
		font-size: 30px;
		color: $aquaBlue;
		font-weight: 300;
		margin-bottom: 20px;
	}

	.member-blk {
		margin: 30px 0;
		img {
			margin-bottom: 10px;
		}
		p {
		    color: #FFFFFF;
		    font-size: 14px;
		    font-weight: 300;
		    line-height: normal;
		}
	}
}

footer {
	padding: 40px 0;
	border-top: 2px solid $aquaBlue;
	font-size: 15px;
	color: $darkGray;
}

// Contact form...
.reveal-modal {
	background-color: transparent;
	padding: 0 !important;
	border: 0 !important;
	box-shadow: none !important;
}

.contact-top {
	padding: 1.875em 1.875em 0;
	background: none repeat scroll 0 0 rgba(63, 87, 113, 0.9);
	width: calc(100% - 70px);

	h2 {
		font-size: 42px;
		font-weight: 300;
	}
}

.contact-top:after {
	content: '';
    position: absolute;
    top: 0; 
    right: 0;
    border-top: 70px solid transparent;
    border-left: 70px solid rgba(63, 87, 113, 0.9);
    width: 0;
    padding-bottom: 2px;
}

.contact {
	background: none repeat scroll 0 0 rgba(63, 87, 113, 0.9);
	border: none;
	padding: 1.875em;

	br {
		display: none !important;
	}

	span.bajada {
		color:$white;
		font-weight: 300;
		line-height: normal;
		display: block;
		margin-bottom: 20px; 
	}

	.close-reveal-modal {
		background: $darkBlue;
	    border: 2px solid #FFFFFF;
	    @include border-radius(100%);
	    color: #FFFFFF;
	    height: 24px;
	    left: -10px;
	    line-height: 18px;
	    font-weight: 400;
	    text-align: center;
	    top: -10px;
	    width: 24px;
	    font-size: 1em;
	}

	.close-reveal-modal:hover {
		opacity: 0.8;
	}
	// Suscription popup
	input.suscription-mail {
		width: 70%;
		display: inline-block !important;
	}

	input.suscription-btn {
		display: inline-block;
		margin-left: 5px !important;
    	width: 25%;
	}

	input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
		box-shadow: none;
		margin: 0 0 1.5em;
	}

	textarea {
		min-height: 100px;
		font-size: 14px;
	}

	.your-name input {
		background: url("../../img/icon-nombre.svg") no-repeat scroll 8px center #FFFFFF;
		padding-left: 30px;
	}

	.your-email input, input.suscription-mail {
		background: url("../../img/icon-mail.svg") no-repeat scroll 8px center #FFFFFF;
		padding-left: 30px;
	}

	.your-message textarea {
		background: url("../../img/icon-mensaje.svg") no-repeat scroll 8px 10px #FFFFFF;
		padding-left: 30px;
	}

	input[type="submit"], input.suscription-btn {
		@include border-radius(5px);
		padding: 0.5em 2em;
		display: inline-block;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		background: $yellow;
		color: $darkBlue;
		-webkit-box-shadow: 0 2px $darkYellow; 
		-moz-box-shadow: 0 2px $darkYellow; 
		box-shadow: 0 2px $darkYellow;
		border: 1px solid transparent;
		transition: all 0.5s ease;
		margin-left: 20px;
	}

	input[type="submit"]:hover, input.suscription-btn:hover {
		background: $lightYellow;
	}

	// Errors...

	span.wpcf7-form-control-wrap {
		width: 100%;
	}

	span.errors {
		top: -10px !important;
	}

	span.wpcf7-not-valid-tip, .errors {
	    // color: #C60F13;
	    color: $yellow;
	    display: block;
	    font-family: 'Open Sans', sans-serif;
	    font-size: 13px;
	    position: relative;
	    top: -15px;
	    padding-bottom: 5px;
	}

	div.wpcf7-validation-errors {
	    border: 2px solid $yellow;
	}

	input.input-error, .wpcf7-not-valid {
	    box-shadow: 0 0 1px 2px #F4A308 !important;
	}

	div.wpcf7-mail-sent-ok, .gracias {
		border: 2px solid $aquaBlue;
	}

	div.wpcf7-response-output, .gracias {
		margin: 1.5em 0 1em;
		font-size: 16px;
		font-weight: 300;
		color: $white;
		padding: 1em;
		line-height: normal;
	}

	.contact-btns {
		position: relative;
		margin-top: 20px;
		text-align: right;
		.btn-cancel {
		    color: #FFFFFF;
		    text-decoration: underline;
		}

		.btn-cancel:hover {
			text-decoration: none;
		}

		img.ajax-loader {
			position: absolute;
			left: 0;
		}
	}
	
}

.scrollup {
    background: url("../../img/flecha-tope.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 50px;
    // display: none;
    height: 51px;
    position: fixed;
    right: 40px;
    text-indent: -9999px;
    width: 52px;
    z-index: 999;
    transition: opacity 0.2s ease;
}

.scrollup:hover {
	opacity: 0.8;
}