@media only screen and (max-width:480px) {
	// .section {
	// 	padding: 10px 0 !important;
	// }

	.billboard {
		h1 {
			font-size: 33px !important;
		}

		h4 {
			font-size: 20px !important;
		}
	}
}

@media only screen and (max-width:767px) {
	header {
		padding: 30px 0 50px !important;
		.logo {
			margin: 0 auto;
		}

		.social-nav {
			top: -10px !important;
			right: 0 !important;
			float: none !important;
			text-align: center;
		}

		nav.nav {
			float: none !important;
			text-align: center;

			ul {
				right: 0 !important;
				top: 20px !important;
				text-align: center;
			}
		}
	}

	.section {
		padding: 20px 0 !important;
	}

	.billboard {
		height: auto !important;
		text-align: center !important;

		.call-to {
			text-align: center;
			
			a.btn {
				float: none !important;
				margin: 0 auto 20px;
    			width: 290px;
				display: block;
			}
		}
	}

	.description {
		h3 {
			line-height: 30px !important;
		}
	}

	.open-call {
		height: auto !important;

		h2 {
			font-size: 30px !important;
		}

		.featured-blk {
			margin: 20px 0;
		}
	}

	.sede {
		height: auto !important;

		h2 {
			font-size: 30px !important;
		}

		.top-box {
			width: calc(100% - 90px) !important;
		}

		.top-box:after {
		    border-left: 90px solid #D6DADD !important;
		    border-top: 90px solid rgba(0, 0, 0, 0) !important;
		}

		.gray-box {
			padding: 0 20px 35px !important;
		}
	}

	.sponsors {
		text-align: center;
		height: auto !important;

		.btn.main-btn {
			margin-bottom: 30px;
		}
	}

	.contact-top {
		width: calc(100% - 55px) !important;

		h2 {
			font-size: 30px !important;
		}
	}

	.contact-top:after {
		padding-bottom: 5px !important;
		border-top: 55px solid transparent !important;
    	border-left: 55px solid rgba(63, 87, 113, 0.9) !important;
	}

	footer {
		text-align: center;
		padding: 20px 0 !important;

		p.copyright {
			margin: 10px 0;
		}

		p.right-txt {
			text-align: center !important;
			margin: 10px 0;
		}
	}
}

@media only screen and (min-width:768px) and (max-width: 970px) {
		
	.wrap-l7 {
		left: 25%;
		width: 75%;
	}
}